body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 26px;
    line-height: 30px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.webpage {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:  120px 400px 450px 50px;
}

#navbar {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 130px;
}

#navbar li {
    display:inline-block;
    margin-right: 30px;
}

#navbar li a {
    text-decoration: none;
    color: #777777;     
}

#navbar li a:hover {
    color: #000000;
}

.clickslider {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-left: -40px;
}

.clickslider li:hover {
    color: gray;
}

#header_bg {
    background-image: url(header_bg.png);
    display: grid;
    grid-template-columns: 290px auto;
}

.logo {
    margin-top: 20px;
    margin-left: 40px;
}

#banner_bg {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-image: url(banner_bg.png);
    display: grid;
    grid-template-columns: 760px auto;
}

#bannerimg {    
    padding: 20px;
    margin-left: 20px;
}

#car {
    margin-top: 20px;
    margin-left: 80px;
    height: 300px;
    border: white solid 10px;
}

#kleding {
    margin-top: 20px;
    margin-left: 100px;
    height: 300px;
    border: white solid 10px;
}

#bannertext {
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
}

.sliders {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 150px 250px 100px;
    margin-top: 70px;
    margin-left: 55px;
}

.audi {
    height: 150px;
}

.BMW {
    height: 150px;
}

.mercedes {
    height: 150px;
}

.AnimeKleding {
    margin-left: 0px;
    height: 150px;
}

.SportKleding {
    margin-left: 0px;
    height: 150px;
}

.VrijeKleding {
    margin-left: 25px;
    height: 150px;
}

#footer_bg {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    background-image: url(footer_bg.png);
    display: grid;
    grid-template-columns: 700px auto;
}

#name {
    margin-left: 550px;
color: white;